h1 {
  font-family: 'Sigmar One', cursive;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.example-wrapper  {
  margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
}

.example-wrapper code {
  background: #f5f5f5; padding: 2px 6px;
}

.bg-perso-primary {
  background-color: #6b949e;
}

.btn-perso-danger {
  background-color: #ff874e;
  color: white;
}

.btn-perso-danger:hover {
  transition: 0.9s;
  color: white;
  background-color: #ffc7ad;
}

.cover-image {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.figure-image {
  min-height:200px;
  width:100%;
  object-fit: cover;
}

.bg-dark {
  background-color: #255c69;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.h4-perso {
  font-family: 'Sigmar One', cursive;
  color: #6b949e;
  font-size: 1rem;
}

.delete {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

.btn-primary-perso {
  background-color: #6B949E;
  border-color: unset;
  border: none;
  color: white;
}

.btn-primary-perso:hover {
  border-color: none;
  border: none;
  background-color: rgba(209, 225, 229) !important;
  transition: 0.7s;
  color: white;
}

.visible-phone {
  display: none;
}

nav .visible-phone {
  display: flex;
  flex-direction: row;
}


  /* On screens that are 600px or less, set the background color to olive */
  @media (max-width: 768px) {
    .visible-phone {
      display: flex;
    }

    .navbar {
      display: none;
    }

   .visible-desktop {
      display: none;
    }

    .mobile-menu ul {
      display: flex;
      position: fixed;
      flex-direction: row;
      margin: 0;
      bottom: 0;
      right: 0;
      left: 0;
      justify-content: center;
      z-index: 2;
      background-color: white;
      margin-block-start: 0;
      padding-inline-start: 0;
    }

    .mobile-menu img {
      display: flex;
      height: 25px;
    }

    .mobile-menu li {
      list-style-type: none;
    }

    .mobile-menu li:hover {
      background-color: #D1E1E5;
      transition: 0.9s;
    }
  }